---

---

<section class="bg-white dark:bg-gray-900">
  <div
    class="mx-auto grid max-w-screen-xl px-4 py-8 lg:grid-cols-12 lg:gap-8 lg:py-16 xl:gap-0"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <a
        href="#"
        class="mb-7 inline-flex items-center justify-between rounded-full bg-green-100 px-1 py-1 pr-4 text-sm text-green-700 hover:bg-green-200 dark:bg-green-800 dark:text-white dark:hover:bg-green-700"
        role="alert"
      >
        <span
          class="mr-3 rounded-full bg-green-600 px-4 py-1.5 text-xs text-white"
          >Open To Work</span
        >
        <span class="text-sm font-medium">Hire Me</span>
        <svg
          class="ml-2 h-5 w-5"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"></path></svg
        >
      </a>
      <h1
        class="mb-4 max-w-2xl text-4xl leading-none font-extrabold tracking-tight md:text-5xl xl:text-6xl dark:text-white"
      >
        Hi, I'm Zachary
      </h1>
      <p
        class="mb-6 max-w-2xl font-light text-gray-500 md:text-lg lg:mb-8 lg:text-xl dark:text-gray-400"
      >
        Product Manager | Outcome-Oriented | UX & Analytics Fluent
      </p>
      <p
        class="mb-6 max-w-2xl font-light text-gray-500 md:text-lg lg:mb-8 lg:text-xl dark:text-gray-400"
      >
        I’m a product manager with a background that spans user experience
        design, agile software delivery, and analytics. My core strength is
        identifying the most impactful business opportunities and driving
        digital solutions to measurable results.
      </p>
      <p
        class="mb-6 max-w-2xl font-light text-gray-500 md:text-lg lg:mb-8 lg:text-xl dark:text-gray-400"
      >
        I’m hands-on, clear-headed under pressure, and always looking for ways
        to make products faster, simpler, and smarter—for the user and for the
        business.
      </p>
      <a
        href="#"
        class="bg-primary-700 hover:bg-primary-800 focus:ring-primary-300 dark:focus:ring-primary-900 mr-3 inline-flex items-center justify-center rounded-lg px-5 py-3 text-center text-base font-medium text-white focus:ring-4"
      >
        Work With Me
      </a>
    </div>
    <div class="hidden lg:col-span-5 lg:mt-0 lg:flex">
      <img
        src="http://localhost:3845/assets/db7f2ab2694038beb3f246fb450af8e083d5b7ce.svg"
        alt="mockup"
      />
    </div>
  </div>
</section>
