---

---

<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 py-8 text-center lg:px-6 lg:py-16">
    <figure class="mx-auto max-w-screen-md pt-8">
      <blockquote>
        <p class="text-2xl font-medium text-gray-900 dark:text-white">
          "Zach excels across the full product development spectrum—from UX
          design and detailed requirements analysis to strategic product vision
          and stakeholder management. He successfully scaled Agile across global
          teams, built data-driven decision frameworks, and delivered solutions
          that balanced user experience, technical constraints, and business
          goals."
        </p>
      </blockquote>
      <figcaption class="mt-6 flex items-center justify-center space-x-3">
        <img
          class="h-9 w-9 rounded-full"
          src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/roberta-casas.png"
          alt="profile picture"
        />
        <div
          class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700"
        >
          <div class="pr-3 font-medium text-gray-900 dark:text-white">
            Abby Conrad
          </div>
          <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">
            Product Owner @ GBI
          </div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
